.main-footer {
    background-color: $color-black;
    padding: 32px;
    margin-top: 48px;

    &__links {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    &__link {
        margin: 0 16px;

        a{
            color: $color-white;
            text-decoration: none;
        }
       
    }
}
