.plans {
    &__title {
        color: $color-primary;
        text-align: center;
        font-size: $font-size-plans-title;
        font-weight: bold;
        margin: 20px 0;
    }
    .plan {
        background-color: $color-plans;
        text-align: center;
        padding: 16px;
        margin: 8px 0;
        width: 100%;
        font-weight: bold;
        font-size: $font-size-plans;

        &--hightlighted {
            background-color: $color-plan-hightlighted;
            color: $color-white;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

            .plan__type {
                color: $color-white;
            }

            .plan__price {
                color: $color-secondary;
            }
        }

        &__annotation {
            background-color: $color-white;
            border-radius: $border-radius;
            color: $color-plan-hightlighted;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
            padding: 8px;
        }

        &__type {
            color: $color-secondary;
        }

        &__price {
            color: $color-dark-gray;
        }

        &__benefits {
            list-style: none;
            padding: 0;
            font-weight: lighter;
        }

        &__benefit {
            margin: 8px 0;
        }
    }
}
