<header class="main-header">
    <div class="main-header__logo">
        <a href="#" class="main-header__brand">uHost</a>
    </div>
    <nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item"><a class="main-nav__link" href="#">Packages</a></li>
            <li class="main-nav__item"><a class="main-nav__link" href="#">Customers</a></li>
            <li class="main-nav__item main-nav__item--cta"><a class="main-nav__link" href="#">Start Hosting</a></li>
        </ul>
    </nav>
</header>
