<article class="plan {{modifier}}">
    {{#if recommended}}
    <p class="plan__annotation">{{recommended}}</p>
    {{/if}}
    <p class="plan__type">{{plan-type}}</p>
    <h2 class="plan__price">${{plan-price}}/month</h2>
    <p>{{plan-purpose}}</p>
    <ul class="plan__benefits">
        <li class="plan__benefit">{{workspaces}} Workspaces</li>
        <li class="plan__benefit">{{traffic}} Traffic</li>
        <li class="plan__benefit">{{storage}} Storage</li>
        <li class="plan__benefit">{{support}} Support</li>
    </ul>
    <div>
        <button class="button button--plan">CHOOSE PLAN</button>
    </div>
</article>
