// typography
$theme-font-base: 16px;

$color-primary: #2ddf5c;
$color-secondary: #0e4f1f;
$color-white: #fff;
$color-red: #ff1b68;

$cta-button-border-radius: 8px;

$border-none: none;

$font-size-logo: 22px;
