// typography
$theme-font-base: 16px;

// fonts
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Anton', sans-serif;

$color-primary: #2ddf5c;
$color-secondary: #0e4f1f;
$color-white: #fff;
$color-red: #ff1b68;
$color-plans: #d5ffdc;
$color-plan-hightlighted: #19b84c;
$color-dark-gray: #858585;

$cta-button-border-radius: 8px;

$border-none: none;
$border-radius: 8px;
$border-radius-features: 50%;

$font-size-logo: 22px;
$font-size-section-title: 24px;
$font-size-plans: 18px;
$font-size-feature-description: 20px;
