<section class="features">
    <div class="container-fluid">
        <h1 class="section-title section-title--{{color}}">Many Good Reason to Stick Around</h1>
        <ul class="features__items">
            <li class="features__item">
                <div class="features__image"></div>
                <p class="features__description">3,857,000 Trusting Customers</p>
            </li>
            <li class="features__item">
                <div class="features__image"></div>
                <p class="features__description">99,999% Uptime Guarantee</p>
            </li>
            <li class="features__item">
                <div class="features__image"></div>
                <p class="features__description">Lighting Fast CDN</p>
            </li>
        </ul>
    </div>
</section>
